.square {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: transparent;
  float: left;
  font-size: 96px;
  font-weight: bold;
  line-height: 136px;
  height: 136px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 136px;
}

.square:focus {
  outline: none;
}
